<footer>
    <div class="informasi">
        <div class="footer-location">
            <p><img src="assets/img/location.png" alt="">
                Jl. Soekarno-Hatta No. 9 Malang 65141</p>
        </div>
        <div class="footer-email">
            <p><img src="assets/img/gmail.png" alt="">
                humas@polinema.ac.id</p>
        </div>
        <div class="footer-kontak">
            <p><img src="assets/img/kontak.png" alt="">
                Telepon: (0341) 404424 </p>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 | SPPM JTI POLINEMA
            <img id="footer-logo-polinema" src="assets/img/LogoPolinema.png" alt="">
        </p>
    </div>
</footer>