<script>
    $(document).ready(function () {
        // Mendapatkan URL path halaman saat ini
        var currentPath = window.location.pathname;

        // Membandingkan URL path dengan href di setiap link sidebar
        $('.sidebar a').each(function () {
            var linkPath = $(this).attr('href');

            // Jika URL path cocok dengan href, tambahkan class 'active'
            if (currentPath.includes(linkPath)) {
                $('.sidebar a').removeClass('active'); // Hilangkan class 'active' dari link lainnya
                $(this).addClass('active'); // Tambahkan class 'active' pada link yang sesuai
            }
        });
    });

</script>
<div class="sidebar" id="sidebar">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="assets/js/jquery-3.7.1.js" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/homeStyles.css">
    <a href="berandaMahasiswa" class="active">
        <i class="fas fa-home">
        </i>
        Beranda
    </a>
    <?php if ($info['status'] === 'aktif'): ?>
    <a href="profilMahasiswa">
        <i class="fas fa-user">
        </i>
        Profil
    </a>
        <a href="pengajuanMahasiswa">
            <i class="fas fa-file-alt"></i> Pengajuan
        </a>
    <?php endif; ?>
    <div class="logout">
        <button id="logout">
            <i class="fas fa-sign-out-alt">
            </i>
            Keluar
        </button>
    </div>
</div>
