<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
<link href="assets/js/jquery-3.7.1.js" rel="stylesheet"/>
<link rel="stylesheet" href="assets/css/homeStyles.css">
<script src="assets/js/sidebar.js"></script>
<div class="sidebar" id="sidebar">
    <a href="berandaDosen"class="active">
        <i class="fas fa-home">
        </i>
        Beranda 
    </a>
    <?php if ($info['status'] === 'aktif'): ?>
    <a href="profilDosen" >
        <i class="fas fa-user">
        </i>
        Profil
    </a>
    <a href="permintaanDosen">
        <i class="fas fa-file-alt">
        </i>
        Permintaan
    </a>
    <?php endif; ?>

    <div class="logout">
        <button id="logout">
            <i class="fas fa-sign-out-alt">
            </i>
            Keluar
        </button>
    </div>
</div>
