<script>
    $(document).ready(function () {
    // Mendapatkan URL path halaman saat ini
    var currentPath = window.location.pathname;

    // Membandingkan URL path dengan href di setiap link sidebar
    $('.sidebar a').each(function () {
        var linkPath = $(this).attr('href');

        // Jika URL path cocok dengan href, tambahkan class 'active'
        if (currentPath.includes(linkPath)) {
            $('.sidebar a').removeClass('active'); // Hilangkan class 'active' dari link lainnya
            $(this).addClass('active'); // Tambahkan class 'active' pada link yang sesuai
        }
    });
});

</script>
<div class="sidebar">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="assets/js/jquery-3.7.1.js" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/homeStyles.css">
    <a href="berandaAdmin" class="active">
        <i class="fas fa-user">
        </i>
        Beranda
    </a>
    <a href="informasiAdmin">
        <i class="fas fa-home">
        </i>
        Informasi
    </a>
    <a href="pengajuanAdmin">
        <i class="fas fa-file-alt">
        </i>
        Pengajuan 
    </a>
    <a href="kontrolAkunAdmin">
        <i class="fas fa-user-cog"></i>
    </i>
        Kontrol Akun
    </a>
    <a href="pengaturanAdmin">
        <i class="fas fa-bell">
        </i>
        Pengaturan
    </a>
    <div class="logout">
        <button id="logout">
            <i class="fas fa-sign-out-alt">
            </i>
            Keluar
        </button>
    </div>
</div>
