body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

.logo-container {
    width: 20%; /* Logo container width */
    height: 100%;
    background-color: #00234D; /* Full background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    max-width: 80%; /* Adjust logo size within the container */
    max-height: 80%; /* Keep within bounds */
    object-fit: contain;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 100%;
    background-color: #1a2b4c;
    border-radius: 3px;
}

.container {
    display: flex;
    min-height: 100vh;
}
.separator {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}

.main-content {
    align-items: center;
    text-align: center;
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}
.main-content h2 {
    color: #5272BF;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}
.main-content .detail {
    width: 70%;
    text-align: justify;
    background-color: #EEF6FF;
    padding: 35px 60px;
    border-radius: 5px;
    color: #000706;
    font-size: 14px;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
}
table, th, td {
    border: 2px solid #b0b0b0;
}
th {
    background-color: #0d3b66;
    color: white;
    padding: 10px;
}
td {
    padding: 10px;
    text-align: left;
}
table td .status {
    display: inline-block; 
    background-color: #ff9800; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px;
    text-align: center; 
}

